body {
  font-family: Arial;
  background: #f4f6f8;
}

.card {
  width: 400px;
  margin: 60px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  border-radius: 12px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: #2ecc71;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

img {
  max-width: 100%;
  margin-top: 15px;
  border-radius: 8px;
}
